<span>
    <FluentSelect TOption="NullableTiangan" Style="vertical-align: middle" Width="auto" Items="@possibleTiangans" @bind-SelectedOption="Niangan"></FluentSelect>
    <FluentSelect TOption="NullableDizhi" Style="vertical-align: middle" Width="auto" Items="@possibleDizhis" @bind-SelectedOption="Nianzhi"></FluentSelect>
    年
    <FluentSelect TOption="PingRun" Style="vertical-align: middle" Width="auto" Items="@possiblePingRuns" @bind-SelectedOption="IsRunyue"></FluentSelect>
    <FluentSelect TOption="NullableNumber" Style="vertical-align: middle" Width="auto" Items="@possibleYues" @bind-SelectedOption="Yue"></FluentSelect>
    月
    <FluentSelect TOption="NullableNumber" Style="vertical-align: middle" Width="auto" Items="@possibleRis" @bind-SelectedOption="Ri"></FluentSelect>
    日
    <FluentSelect TOption="NullableDizhi" Style="vertical-align: middle" Width="auto" Items="@possibleDizhis" @bind-SelectedOption="Shi"></FluentSelect>
    时
</span>