<span>
    <FluentSelect TOption="NullableDizhi" Style="vertical-align: middle" Width="auto" Height="200px" Items="@possibleDizhis" @bind-SelectedOption="Nian"></FluentSelect>
    年
    <FluentSelect TOption="PingRun" Style="vertical-align: middle" Width="auto"  Height="200px"Items="@possiblePingRuns" @bind-SelectedOption="IsRunyue"></FluentSelect>
    <FluentSelect TOption="NullableYueNumber" Style="vertical-align: middle" Width="auto" Items="@possibleYues" @bind-SelectedOption="Yue" Height="200px"></FluentSelect>
    月
    <FluentSelect TOption="NullableRiNumber" Style="vertical-align: middle" Width="auto"  Height="200px"Items="@possibleRis" @bind-SelectedOption="Ri"></FluentSelect>
    日
    <FluentSelect TOption="NullableDizhi" Style="vertical-align: middle" Width="auto"  Height="200px"Items="@possibleDizhis" @bind-SelectedOption="Shi"></FluentSelect>
    时
</span>