@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IGradedLocalStorage LocalStorage

<FluentLayout>
    <FluentHeader>
        SharpTools
        <FluentSpacer></FluentSpacer>
        <a href="https://github.com/yueyinqiu/SharpTools.git" target="_blank">
            <FluentIcon Value="@(MdiSvg.Github(IconVariant.Regular, IconSize.Size24))" Color="Color.Fill"></FluentIcon>
        </a>
    </FluentHeader>

    <FluentSplitter Class="main" Orientation="Orientation.Horizontal" Panel1Size="@navMenuSize" OnResized="@((e) => this.SaveNavMenuSize(e.Panel1Size))">

        <Panel1>
            <FluentNavMenu>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())" Href="/" Match="NavLinkMatch.All">主页</FluentNavLink>

                @foreach (var group in Groups)
                {
                    <FluentNavGroup Icon="@group.Icon" Title="@group.Title">
                        @foreach (var entry in group.Entries)
                        {
                            <FluentNavLink Icon="@entry.Icon" Href="@entry.Href">@entry.Title</FluentNavLink>
                        }
                    </FluentNavGroup>
                }
            </FluentNavMenu>
        </Panel1>

        <Panel2>
            <FluentBodyContent Class="body-content">
                <div class="content">
                    @Body
                </div>
            </FluentBodyContent>
        </Panel2>

    </FluentSplitter>
</FluentLayout>
