@page "/bytes"

@inject ILogger<Bytes> Logger
@inject GradedLocalStorage GradedLocalStorage
@inject IBlazorDownloadFileService FileDownloader
@inject ISnackbar MudSnackbar

<PageTitle>字节数组表示 - SharpTools</PageTitle>

<MudText Typo="Typo.h2" Class="mb-5">字节数组表示</MudText>

<MudAlert Class="mb-5" Severity="Severity.Warning">
    <MudText>
        注意：受限于浏览器环境的能力，不建议上传过大的文件或者输入过多的内容。如果在刚打开此页面时就出现长时间加载，可以尝试删除浏览器 local storage 中的历史记录解决。
    </MudText>
</MudAlert>

<MudTextField T="string" Value="@inputedString" AutoGrow="true" ValueChanged="OnInputted" Label="内容" MaxLines="10"></MudTextField>

<MudSelect T="Display" Value="selectedDisplay" ValueChanged="OnSelected" Label="编码">
    @foreach (var display in this.displays)
    {
        <MudSelectItem Value="display">@display.Name</MudSelectItem>
    }
</MudSelect>

<div class="mt-2">
    <MudFileUpload T="IBrowserFile" FilesChanged="@this.OnFilesChanged" Class="d-inline">
        <ButtonTemplate>
            <MudButton HtmlTag="label" Color="Color.Primary" for="@context.Id">
                <MudText>
                    从文件导入
                </MudText>
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>

    <MudButton Color="Color.Primary" OnClick="this.OnExportClicked" Class="d-inline">
        <MudText>
            导出为文件
        </MudText>
    </MudButton>

    <MudFileUpload T="IBrowserFile" FilesChanged="@this.OnQrCodeFilesChanged" Class="d-inline">
        <ButtonTemplate>
            <MudButton HtmlTag="label" Color="Color.Primary" for="@context.Id">
                <MudText>
                    扫描二维码
                </MudText>
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>
</div>

<MudAlert Class="mb-5" Severity="Severity.Info">
    <MudText>
        二维码的扫描基于 ZXing.Net 。虽然它是由 Google 开发的，但事实上其扫描能力不如微信等常用的扫码工具。这里有<MudLink Href="https://www.cnblogs.com/iliuyixin/p/6045530.html" target="_blank">一篇博客园的随笔</MudLink>对这个问题进行了讨论。因此，如果您发现二维码扫描不出，但确信它本身没有问题，可以适当缩小图片再行扫描。
    </MudText>
</MudAlert>
